CORRECTIONS: Retire alt. attribute type names

The 'n' and 'identifier' attribute type definitions, per sections 2.3.1 and 2.3.7 respectively, should be relieved of their alternative descriptors (names).

The first motivation is that this behavior is generally discouraged, though clearly not forbidden per the ABNF production found in RFC 4512 section 4.1.2.  The reason the alternative names were added was specifically to draw a naming parallel between the given attribute type and ITU-T rec X.680 (e.g.: to clarify that 'n' is the **numberForm**), however it probably is not worth the effort at this point.

The second motivation was the potential overlap with the alternative descriptor **nameForm**, which is held by 'identifier'.  Even though most LDAP products today lack support for nameForms (and more to the point, dITStructureRules), the schema name "nameForm" would collide with the "nameForm" alt. name if such support were implemented.

While LDAP in general allows multiple attribute types to share a common name, this requires differentiation by way of its numerical OID.  This is not only tedious, it is confusing to the uninitiated and quite error prone.

Therefore, the aforementioned alt. names "numberForm" and "nameForm" shall be **removed** from the draft.