ADDITION: dotEncoding

## RASCHEMA: dotEncoding, 2.3.103:

2.3.103.  'dotEncoding'

   The 'dotEncoding' attributeType allows the storage of the raw ASN.1
   encoding of the 'dotNotation' for a registration.  Clients SHOULD
   expect values of the 'dotEncoding' attribute type to manifest as
   Base64-encoded content.

   A practical ABNF production for this attribute type is as follows:

     dotEncoding   = tag length bytes
     tag           = %x06             ; ASN.1 OBJECT IDENTIFIER tag (6)
     length        = 1*OCTET          ; BE number of (encoded) bytes
     bytes         = 1*OCTET          ; encoded bytes

   The 'OCTET' ABNF production is defined within RFC 4512 Section 1.4.

      ( 1.3.6.1.4.1.56521.101.2.3.103
          NAME 'dotEncoding'
          DESC 'ASN.1 encoded numeric OID'
          EQUALITY octetStringMatch
          SYNTAX 1.3.6.1.4.1.1466.115.121.1.40
          SINGLE-VALUE )

   Example: "BgEr"

## RADIT: dotEncoding, 3.2.4.20:

3.2.4.20.  'dotEncoding'

   The 'dotEncoding' attribute type serves the same effective purpose
   as its counterpart 'dotNotation' in that they each contain a value
   that defines the numeric object identifier of a registration.

   The difference is that 'dotEncoding' stores the ASN.1 encoded form
   of the OID, and not its numeric (human readable) form.  Due to the
   use of the Octet String syntax, clients SHOULD expect values of the
   'dotEncoding' attribute type to be Base64-encoded.

   For example, if a registration bears a 'dotNotation' value of "1.3",
   the Base64-encoded 'dotEncoding' value should be "BgEr".  When this
   value is Base64-decoded, a (raw) Octet String value of "`%x06.01.2B`"
   is revealed:

```
      ASN.1 OID TAG   BE ENCODING LEN   ENCODED BYTE(S)
           |                |                 |
           06               01                2B
```

   The total (decoded) length of a well-formed value SHALL NOT be less
   than three (3).  No limit is imposed on the number of encoded bytes,
   so long as the number is at least one (1), as shown above, expressed
   as a Big-Endian.

   The condition of a 'dotNotation' value not matching the decoded form
   of its corresponding 'dotEncoding' value is considered an error.  No
   valid 'registration' entry shall exist in this state.

   Implementations MAY opt to impose content verification procedures to
   ensure that only valid byte sequences are present within instances of
   this type.  For example, during an Add or Modify Operation, the RA
   DSA might check that the first byte of the proposed 'dotEncoding'
   value is the official ASN.1 OBJECT IDENTIFIER tag (6).  Additional
   measures MAY be implemented at the risk of performance penalities.

   The semantics of encoding an object identifier per ITU-T Rec. X.690
   are extensive, and are well outside the scope of this ID series.

   The 'dotEncoding' attribute type is defined within Section 2.3.103 of
   the RASCHEMA ID.